<!DOCTYPE html>

<head>

<!--      CSS       -->

<link href="{{ url_for('static', filename='style.css') }}"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?v=2">
<link href="http://fonts.cdnfonts.com/css/moon-get" rel="stylesheet">

<!--      META       -->

<title>Hound</title>

<meta charset="utf-8">
<meta name="description" content="Hound Predictor">
<meta name="keywords" content="Hound Predictor">
<meta name="author" content="Hound">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Hound Predictor">
<meta property="og:description" content="Bot">
<meta property="og:url" content="https://discord.gg/hound">

        <div id="stars1"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>

</head>





</nav>

<body>



<div id="main-buttons">




</div>
<nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand" style="color: #ffffff;font-weight: bold;"><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler" style="border: none;"><span class="sr-only">Toggle navigation</span><i class="fa fa-th-list" style="color: rgb(255,255,255);"></i></button></a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">

                        </ul>
                    </div>
                     <div class="row" style="margin: 0px;">
                    <div class="col-auto" style="padding-right: 0px;padding-left: px;">
                        <img class="rounded-circle" style="width: 40px;height: 40px;margin-top: 5px;" src="{{pfp}}" />
                    </div>
                        <div class="col-auto" style="padding-left: 0px;padding-right: 0px;">
                            <div style="background-color: #00000000;color: #ffffff;padding-top: 8px;padding-right: 8px;padding-bottom: 8px;padding-left: 8px;">
                                <a href="/user" style="color: #fff;">{{user}}</a>
                            </div>
                        </div>
                    </div>
            </nav>
<div style="margin:100px 0 50px 0;"></div>

<p id="name" style="text-align: center;">Prediction</p>
<p id="desc" style="text-align: center;">{{p}}</p>
<p id="name" style="text-align: center;">Accuracy</p>
<p id="desc" style="text-align: center;">{{a}}%</p>



</div>


</div>






</div>



</body>


</footer>

<script src="js/script3.js"></script>