<!DOCTYPE html>

<head>
    <link href="{{ url_for('static', filename='main.css') }}"  rel="stylesheet" type="text/css">
<!--      CSS       -->

<!--      META       -->

<title>Hound</title>

<meta charset="utf-8">
<meta name="description" content="Hound Predictor">
<meta name="keywords" content="Hound Predictor">
<meta name="author" content="Hound">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Hound Predictor">
<meta property="og:description" content="Bot">
<meta property="og:url" content="https://discord.gg/hound">
</head>


<body>
    <div class="container">
        <div class="dots"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </section>
    <section>
        <img id="logo" src="https://cdn.upload.systems/uploads/7LNSzYRH.png">
        <h6>HOUND</h6>
        <h5>Simply the best</h5>
        <nav>
            <a href="/login">
        <button href = "index.html">
                Login
                <span></span><span></span><span></span><span></span>
        </button>
    </a>
    </nav>
</section>

</body>